@{
    ViewBag.Title = "About";
}

<!--about-->
<div class="about">
    <div class="container">
        <h3>Who we are</h3>
        <div class="about-text">
            <div class="col-md-6 about-text-left">
                <img src="~/Images/img4.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-6 about-text-right">
                <h4>Piece of classical by injected humour, or randomised words which don't look even slightly believable.</h4>
                <p>
                    The point of using content here'orem Ipsum whichbut the majority have  passage of Lorem Ipsum, you need
                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators making this the first true generato.
                </p>
                <p>
                    The point of using Lorem Ipsum is that it has a more-or-less normal 'Content here, content here'orem Ipsum whichbut the majority have  passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text
                </p>
                <ul>
                    <li><a href="#">Donec ut quam andomised words lscelerisque.</a></li>
                    <li><a href="#">Etiam volutpa andomised words tbh lobortis</a></li>
                    <li><a href="#">Varius fusce vitaeb landitan domised words.</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="about-slid">
        <div class="container">
            <div class="about-slid-info">
                <h2>Lorem Ipsum is that it has a moreless normal</h2>
                <p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet embarrassing hidden in the middle of text.</p>
            </div>
        </div>
    </div>
    <div class="about-team">
        <h3>Meet our team</h3>
        <div class="container">
            <div class="row team-row">
                <div class="col-sm-6 col-md-3 team-grids">
                    <div class="thumbnail team-thmnl">
                        <img src="~/Images/img5.jpg" alt="...">
                        <div class="caption">
                            <h4><a href="#">vaura tegsner</a></h4>
                            <p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 team-grids">
                    <div class="thumbnail team-thmnl">
                        <img src="~/Images/img6.jpg" alt="...">
                        <div class="caption">
                            <h4><a href="#">Jark Kohnson</a></h4>
                            <p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 team-grids">
                    <div class="thumbnail team-thmnl">
                        <img src="~/Images/img7.jpg" alt="...">
                        <div class="caption">
                            <h4><a href="#">goes mehak</a></h4>
                            <p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 team-grids">
                    <div class="thumbnail team-thmnl">
                        <img src="~/Images/img8.jpg" alt="...">
                        <div class="caption">
                            <h4><a href="#">Jark Kohnson</a></h4>
                            <p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="about-skills">
        <div class="container">
            <h3>Our specials</h3>
            <div class="about-choose">
                <div class="col-md-4 about-choose-info">
                    <h4>Certifications</h4>
                    <ul>
                        <li><a href="#">Donec ut quam ligula feugiat scelerisque.</a></li>
                        <li><a href="#">Etiam volutpat tortor quis nibh lobortis</a></li>
                        <li><a href="#">Fusce vitae dolor vitae blandit varius.</a></li>
                        <li><a href="#">Proin commodo metus sed nisi lobortis.</a></li>
                        <li><a href="#">Nunc volutpat neque vel augue interdum,</a></li>
                        <li><a href="#">condimentum fringilla justo lobortis.</a></li>
                        <li><a href="#">Vivamus consequat dolor ac est congue.</a></li>
                    </ul>
                </div>
                <div class="col-md-4 about-choose-info">
                    <h4>Our skills</h4>
                    <ul>
                        <li><a href="#">Donec ut quam ligula feugiat scelerisque.</a></li>
                        <li><a href="#">Etiam volutpat tortor quis nibh lobortis</a></li>
                        <li><a href="#">Fusce vitae dolor vitae blandit varius.</a></li>
                        <li><a href="#">Proin commodo metus sed nisi lobortis.</a></li>
                        <li><a href="#">Nunc volutpat neque vel augue interdum,</a></li>
                        <li><a href="#">condimentum fringilla justo lobortis.</a></li>
                        <li><a href="#">Vivamus consequat dolor ac est congue.</a></li>
                    </ul>
                </div>
                <div class="col-md-4 about-choose-info">
                    <h4>Our technologies</h4>
                    <ul>
                        <li><a href="#">Donec ut quam ligula feugiat scelerisque.</a></li>
                        <li><a href="#">Etiam volutpat tortor quis nibh lobortis</a></li>
                        <li><a href="#">Fusce vitae dolor vitae blandit varius.</a></li>
                        <li><a href="#">Proin commodo metus sed nisi lobortis.</a></li>
                        <li><a href="#">Nunc volutpat neque vel augue interdum,</a></li>
                        <li><a href="#">condimentum fringilla justo lobortis.</a></li>
                        <li><a href="#">Vivamus consequat dolor ac est congue.</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--//about-->
