@{
    ViewBag.Title = "Index";
    
    Layout = NazeeranHospitalManagementConstants.LayoutNameConst.LayoutDashboardAdminPartial;
    Page.Title = "Admin Dashboard";
}
<div class="row">
    <div id="dashbord_set">
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="pdsa-summary-block pdsa-summary-block-primary">
                <div class="summary-background">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="summary-body">
                    <div class="summary-line1"></div>
                    <div class="summary-line2">Doctors</div>
                </div>
                <div class="summary-footer">
                    <a href="~/admin/ViewDoctor">View Doctors<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="pdsa-summary-block pdsa-summary-block-success">
                <div class="summary-background">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </div>
                <div class="summary-body">
                    <div class="summary-line1"></div>
                    <div class="summary-line2">Departments</div>
                </div>
                <div class="summary-footer">
                    <a href="~/admin/ViewAllDepartment">View Departments<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="pdsa-summary-block pdsa-summary-block-info">
                <div class="summary-background">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </div>
                <div class="summary-body">
                    <div class="summary-line1"> </div>
                    <div class="summary-line2">Pharmacists</div>
                </div>
                <div class="summary-footer">
                    <a href="~/Admin/ViewAll?userRole=Pharmacist">View Pharmacists<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="pdsa-summary-block pdsa-summary-block-primary" id="admin_dash">
                <div class="summary-background">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </div>
                <div class="summary-body">
                    <div class="summary-line1"></div>
                    <div class="summary-line2">Laboratorists</div>
                </div>
                <div class="summary-footer" id="admin_footer">
                    <a href="~/Admin/ViewAll?userRole=LabAttendent">View Laboratorists<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="pdsa-summary-block pdsa-summary-block-success" id="admin_dash1">
                <div class="summary-background">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="summary-body">
                    <div class="summary-line1"></div>
                    <div class="summary-line2">Receptionists</div>
                </div>
                <div class="summary-footer" id="admin_footer1">
                    <a href="~/Admin/ViewAll?userRole=HelpDesk">View Receptionists<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
